@model IEnumerable<Employee>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    @ViewBag.message
</p>
<table class="table table-responsive-md">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tab-content">
      @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id= item.id }, new { @class="btn btn-primary"}) 
              
                @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
